[2021-07-18 19:08] PaulBenn-UnlikelyAI opened #3 "Document relationship between available OT Collector Docker images"
Hi, there are currently at least three different images for the OpenTelemetry Collector:
* otel/opentelemetry-collector
* otel/opentelemetry-collector-dev
* otel/opentelemetry-collector-contrib

The difference between these three images does not seem to be clearly documented anywhere.

It would be good to see a section of documentation with a comparison between all available OTel Collector images.

[2021-09-01 07:18] jpkrohling opened #6 "Use git tags for 0.34.0 release"
PR #4 set the versions to the SHA for the tag, but we should be using the tag instead. The SHA was being used before to track a specific unreleased commit and should not be used for the actual release.

[2021-09-01 07:20] bogdandrutu commented on #6
The contrib was not released when I made the PR so I picked latest. Need a new PR to update to the tag

[2021-09-01 07:23] bogdandrutu opened #7 "Binary name should be otelcol not core"
At least that was in core, was thinking to keep backwards compatiblility

[2021-09-02 18:41] jpkrohling opened #10 "Use Go 1.17"
Build the releases with Go 1.17

[2021-09-03 06:53] #10 closed

[2021-09-03 08:02] #6 closed

[2021-09-06 11:23] jpkrohling opened #12 "Remove windows-arm64 from the build matrix"
Windows on ARM64 seems to be a new combination on Go 1.17, but apparently, the collector can't be built on that platform:

https://github.com/open-telemetry/opentelemetry-collector-releases/runs/3522627590?check_suite_focus=true

At least for the first release, we need to remove this from the goreleaser config.

[2021-09-06 11:38] #12 closed

[2021-09-07 10:09] jpkrohling opened #14 "Publish images to opentelemetry namespaces"
Currently, the release is pushing container images to quay.io/jpkroehling, and it should publish to the official namespaces at quay and Docker Hub.

[2021-09-08 09:28] #14 closed

[2021-09-14 09:10] jpkrohling opened #16 "Release v0.35.0"

[2021-09-15 12:45] #16 closed

[2021-09-16 11:38] jpkrohling opened #18 "Allow customization of properties"
The script that generates go-releaser files makes assumptions that are not always true. For instance, the container image for the core distribution defaults to "otel/otelcol:v0.35.0", when it should in fact use "otel/opentelemetry-collector:0.35.0"

[2021-09-16 15:15] codeboten commented on #18
This may have already been answered at some point, but is there any possibility to use the `opentelemetry` docker org? That way the name could just be `opentelemetry/collector`. Not sure if we know who owns that docker org though.

[2021-09-17 10:29] jpkrohling commented on #18
I think people tried to get handle of that org on Docker Hub but were unable to do so: https://github.com/open-telemetry/community/issues/164

[2021-09-17 10:30] #18 closed

[2021-10-04 08:41] jpkrohling opened #22 "Release fails as base container images are not using the new base name"
Seen during the first attempt to release 0.36.0:

[code]

[2021-10-05 08:05] #22 closed

[2021-10-05 08:10] jpkrohling commented on #3
We need a better place to document this, and the current state isn't the final, but here's a short description:

- open-telemetry/opentelemetry-collector has the core code, that serves as library for all distributions
- open-telemetry/opentelemetry-collector-releases produces the main official distribution and publishes the container image otel/opentelemetry-collector
- open-telemetry/opentelemetr

[2021-10-05 13:07] pavolloffay opened #24 "Check in generated code - go.mod and main..."
At the moment the generated code - `main.go`, `components.go`. `go.mod` and `go.sum` are not checked in.

Versioning these files gives users a better understanding of what the final distribution does and what is the dependency stack. One can argue that dependencies are versioned in the otel-collector-builder configuration files, however, the otel-collector-builder is still a black-box for user.

A

[2021-10-06 07:57] jpkrohling opened #25 "Remove 'v' from the container image version"
When publishing the v0.36.0 release, we noticed that the container image has the 'v' in the version as well, which breaks the pattern from previous versions. To keep compatibility with them, we should remove the 'v' from that.

[2021-10-16 00:51] codeboten opened #29 "review replaces statements in the manifest"
Are these replaces needed anymore?  Now that we're using `multimod` to manage versions in require statements we might be able to omit these.  Perhaps something to try after this release is shipped.

_Originally posted by @Aneurysm9 in https://github.com/open-telemetry/opentelemetry-collector-releases/pull/28#r730172874_

[2021-10-29 20:56] tbolon opened #31 "Where are contrib binaries?"
I am trying to use the latest binaries and it seems the only binaries available here are for the core otel collector.

Beside, this repository is listed nowhere:

* [the collector documentation](https://opentelemetry.io/docs/collector/) does not mention this repository once. Always mention the collector and the binaries without ever linking here.
* both [opentelemetry-collector](https://github.com

[2021-10-29 21:04] tbolon commented on #31
Oh, I have just discovered that the binaries a in the [opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) release, but are just missing for the latest 0.38 version (0.37.1 assets contains binaires).

Perhaps this situation is just temporary?

But my remark about the missing links is still valid: you should, at least, add a link in the [opentelemetry

[2021-10-30 08:40] tbolon commented on #31
I see that now the contrib release 0.38 contains the binaries. I will close this issue as it was only a temporary problem.

Sorry for the nuisance, and thanks for your work.

[2021-10-30 08:40] #31 closed

[2021-11-03 12:42] IliaOrlov opened #32 "otelcol rpm package contains incorrect configuration files"
It seems that `otelcol_0.38.0_linux_amd64.rpm` contains files point to the old installation directory.
Package manager unpack the files to `/etc/otelcol/` directory but the following files still reference `/etc/opentelemetry-collector`:

- https://github.com/open-telemetry/opentelemetry-collector-releases/blob/007228a546e7d0812700464e4c09b39c60179a9e/distributions/otelcol/otelcol.service
- https:/

[2021-11-16 02:03] codeboten opened #34 "update this repo to pull the builder from collector core"
Currently this repo still pulls the builder from the opentelemetry-collector-builder repo which has been deprecated. See https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/Makefile#L38

[2021-12-08 17:13] jpkrohling opened #37 "Have a contrib release"
As per the latest SIG call, we should start producing releases from contrib using this repo here.

[2021-12-08 18:14] #32 closed

[2021-12-14 14:52] jpkrohling opened #40 "Building arm6 container image not working"
After #39, running `goreleaser --snapshot --rm-dist` doesn't seem to work anymore, breaking on this step:

[code]

@silverlyra, do you remember whether this worked for you?

[2021-12-14 14:53] jpkrohling commented on #34
This seems to have been done already.

[2021-12-14 14:53] #34 closed

[2021-12-14 14:54] jpkrohling commented on #29
The `replaces` have been removed. Closing.

[2021-12-14 14:54] #29 closed

[2021-12-14 15:13] jpkrohling commented on #40
Same for arm7:

[code]

[2021-12-14 15:17] jpkrohling commented on #40
And `arm64` :(

[code]

[2021-12-15 10:22] #40 closed

[2021-12-15 10:23] jpkrohling opened #42 "Add ARM binaries and images back"
The ARM binaries and images were first added via #39 and removed via #41. This ticket is to track it being added back once the failures are sorted out.

[2021-12-15 10:23] jpkrohling commented on #42
cc @silverlyra

[2021-12-15 13:16] jpkrohling opened #44 "Split goreleaser configuration per distribution"
Even though GoReleaser is fast on local machines, it's really slow at CI. Two distributions with the current matrix of arch/platforms are sufficient to cause the default timeout to happen (30m).

Ideally, we would split the workflows and goreleaser files per distribution.

[2021-12-16 09:05] jpkrohling opened #45 "Include all licenses in the resulting containers"
From https://github.com/open-telemetry/opentelemetry-collector/pull/2604

[2021-12-16 16:27] #37 closed

[2021-12-16 17:09] jpkrohling opened #46 "Add all missing components to the manifest, including the non-ready ones"
May I do this in a follow-up PR, if there are no other concerns?

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector-releases/pull/43#discussion_r770702746_

[2021-12-28 23:19] ldx opened #49 "Publish images to registries other than Docker Hub"
Docker Hub has introduced pretty aggressive rate limits. We're trying to migrate our deployments to use either public.ecr.aws or quay.io instead, as trying to pull from Docker Hub fails with 429s frequently.

Any chance the images built here could also be published to other registries?

[2022-01-03 09:10] jpkrohling commented on #49
Would GitHub container repository work for you? It would be trivial to implement it, as it wouldn't require any new accounts elsewhere.

[2022-01-03 14:08] ldx commented on #49
Absolutely, that's a great option.

[2022-01-03 14:27] jpkrohling commented on #49
Would you like to give it a try, @ldx?

[2022-01-03 17:43] ldx commented on #49
I'm not seeing any public package in the repo, is it some other repo?

[2022-01-04 08:23] jpkrohling commented on #49
Not sure I get the question, but we don't have any packages yet, this would be the first.

[2022-01-04 15:02] ldx commented on #49
OIC, sorry, I had the impression there was an image in GHCR that I could test.

[2022-01-05 19:44] bogdandrutu commented on #45
I would generate this file as part of the "builder" and maybe include in the container if we want.

[2022-01-10 17:34] shree007 commented on #45
@jpkrohling i may work

[2022-01-10 22:02] puckpuck opened #54 "Changes to contrib collector process, and latest tag"
With 0.42.0 of the collector contrib release came about some changes that were not communicated.

The 0.42.0 image has a different binary name, going from `otelcolcontrib` to `otelcol-contrib`. Though the entry point should handle this, it is still a change that will cause pain to some deployments.

The `latest` tag image isn't the same as the `0.42.0` image.  latest still has the old binary name,

[2022-01-11 19:26] silverlyra commented on #40
Hi @jpkrohling – sorry, I didn’t see your ping! Didn’t realize this was a problem until I excitedly went to install v0.42 and discovered it’s still amd64 only. 😞

The build works fine on my machine:

[code]

I tried to find a failed GitHub Action with the output you pasted, but didn’t find one – is it just broken for you locally?

[2022-01-11 19:30] jpkrohling commented on #40
It did fail on GitHub as well: https://github.com/open-telemetry/opentelemetry-collector-releases/runs/4534427058?check_suite_focus=true

[2022-01-11 23:02] silverlyra commented on #40
Hey @jpkrohling – I’ve opened #55 which restores ARM64 image builds, and updates CI and `CONTRIBUTING.md`. The goreleaser CI check [succeeded](https://github.com/open-telemetry/opentelemetry-collector-releases/runs/4781997597?check_suite_focus=true). 😊

[2022-01-14 12:27] jpkrohling commented on #54
While unfortunate, I would just keep the binary name change. Changing it back would potentially break people *again*.

I think the image size is OK, but I have yet to check why this is different. And about the `latest`, we could certainly fix this for 0.43. @silverlyra, it should be relatively easy to do with the new Go structs, right?

[2022-01-14 15:37] puckpuck commented on #54
Should the binary name change be documented in a changelog?

[2022-01-14 15:41] aateeqi opened #58 "Enabling debug symbols"
We are contemplating whether to enable debug symbols (disabled by -s -w LDFLAGS on build) on our downstream repo `aws-otel-collector`. We want to be in line with what is being done upstream but it seems that there's an inconsistency. In this `opentelemetry-collector-releases` repo it appears that they are disabled but in [opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelem

[2022-01-14 17:40] Aneurysm9 commented on #54
I suspect that the size change is related to the change in debug symbol stripping noted in #58.

[2022-01-14 20:35] jpkrohling commented on #58
Are there performance penalties in having debug symbols enabled?

[2022-01-14 20:36] jpkrohling commented on #54
It might be too late for that already, but doing it retroactively is indeed possible: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CHANGELOG.md#v0420

[2022-01-17 11:38] pellared opened #59 "Default config path changed in the contrib container image"
Since `0.42.0` the default `config.yaml` path used in the contrib container image changed from `/etc/otelcol/config.yaml` to `/etc/otelcol-contrib/config.yaml`.

As far as I understand it was done here: https://github.com/open-telemetry/opentelemetry-collector-releases/pull/43

While I have not found  `/etc/otelcol/config.yaml` in any documentation I imagine that there may be a lot of users relyin

[2022-01-17 11:59] Kielek commented on #59
One more comment, similar breaking change was also introduced between 0.41.0 and 0.42.0

0.41.0: `/etc/otel/config.yaml`
0.42.0: `/etc/otelcol/config.yaml`

For details, please check
https://github.com/open-telemetry/opentelemetry-collector-releases/blob/606b9299551267c8c80c818b057f08a9444458d7/distributions/otelcol/Dockerfile#L19

[2022-01-17 12:08] jpkrohling commented on #59
This was an adjustment done to ensure that there can be two distributions running at the same time at the same node.

[2022-01-17 12:19] pellared commented on #59
For now, I think that documenting it as part of the changelog is good enough (until there are more complaints)

[2022-01-17 16:12] shree007 commented on #45
I was out of station. I started to look into it.

[2022-01-17 17:09] jpkrohling commented on #45
Welcome back!

[2022-01-17 17:53] shree007 commented on #45
@jpkrohling I went throgh the https://github.com/open-telemetry/opentelemetry-collector/pull/2604  So all licences will be copied into `third-party` folder in build phase and that folder will be copied in docker container, for which i need to write docker insturctions.
right ?

[2022-01-17 19:38] jpkrohling commented on #45
That sounds right.

[2022-01-19 07:42] pellared commented on #59
@jpkrohling

Is there any issue where this use-case is described? Seems strange for me especially that `otelcol-contrib` is a superset of `otelcol`. Why would one like to have both distributions in one container? It would only increase the image size, attack-surface etc.

[2022-01-19 13:56] jpkrohling commented on #59
Because we might have other, focused distributions running on the same node. For instance, a tracing distribution, a metrics distribution, and a logging distribution. All with the smallest possible set of components for that use-case, with varying degrees of stability expectations (traces are stable, metrics almost, logs not so much).

[2022-01-21 19:16] silverlyra commented on #54
@jpkrohling If I’m understanding this issue right, the fix in this repo would be update `DockerManifest` and add a second identical manifest with the `latest` tag [in its name](https://github.com/open-telemetry/opentelemetry-collector-releases/blob/3740d0b0eb91deed868f8449f02bc48406392a05/goreleaser/configure.go#L213) instead of `{{ .Version }}`.

For the core otelcol distribution, I think that wo

[2022-01-21 19:52] jpkrohling commented on #54
This was being published by the otel-collector core repository before we switched to building the distribution here in this repository. I understand that the job that published the image there got disabled already.

Good point. While this is true for the moment, it might not be true after v1. Is that handled by the Docker GitHub Action? We could have a workflow that is kicked on tags, publishing i

[2022-01-25 13:24] kaero opened #63 "An option to keep the debug information in the collector binary"
It's hard to impossible to debug a collector binary using gdb due to stripped DWARF and symbols tables.
https://github.com/open-telemetry/opentelemetry-collector/blob/main/cmd/builder/internal/builder/main.go#L89

It would be wonderful to have an option in the builder configuration to keep the debug information. Possibly it could be generalized to a pass of any arguments to the `go build` command

[2022-01-25 13:32] #63 closed

[2022-01-25 13:32] jpkrohling commented on #58
@kaero, @aateeqi, would you be open to opening a PR for this?

[2022-01-25 14:52] kaero commented on #58
@jpkrohling

Yes, I would like to implement the feature in the builder in a backward-compatible way as it suggested in https://github.com/open-telemetry/opentelemetry-collector-releases/issues/63#issue-1113893865 , but I have no idea who and how use releases issued from this repository. We make private builds of the collector using the builder.

I could update builder manifests here too if it woul

[2022-01-25 15:04] kaero commented on #58
Generally speaking, no. Debug symbols are used by debugging facilities in cases they required to, for example when a user attach or run process under a debugger or the Linux perf tool. The only effect everyone who don't care about debugging should notice is the growth of the binary size.

[2022-01-25 16:10] muneernet opened #169 "Signing the assembly"
We want to sign otelcontribcol.exe file on windows machine as it can go through if it is not signed . Any inputs on how we can accomplish any tweak we can do in go language git hub repo code

[2022-01-25 16:26] kaero commented on #58
I don't see, how it would help binaries built using the OpenTelemetry builder command line tool.

[2022-01-25 18:01] jpkrohling commented on #58
Sorry, I missed that part!

This would be the place to remove it:
https://github.com/open-telemetry/opentelemetry-collector/blob/88e9c86f2d32c224a488a5a4935cdafcafc5b943/cmd/builder/internal/builder/main.go#L89

I think we can externalize it in a config property.

[2022-02-04 04:38] silverlyra commented on #42
ah hey, we can close this now 😄 since #55 and [v0.4.3](https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.43.0)

[2022-02-04 08:29] #42 closed

[2022-02-04 08:29] #49 closed

[2022-02-17 21:34] codeboten opened #73 "`latest` tag not updated"
The [latest](https://hub.docker.com/layers/otel/opentelemetry-collector/latest/images/sha256-cec18c72535bebeaca3615e841b19066b468f87a2e29b724b118b5b7bf8808ce?context=explore) tag in dockerhub isn't getting updated during the release process. This is causing user confusion.

[2022-02-22 16:15] codeboten commented on #73
I'm not a fan of it either, but people (myself included) do use them and we've already been publishing it. I would prefer we keep it updated moving forward.

[2022-03-06 15:41] shree007 commented on #45
@jpkrohling From https://github.com/open-telemetry/opentelemetry-collector/pull/2604 here,
go-licenses has been used to collect the licenses which is this https://github.com/google/go-licenses.
Its first prerequisites that targeted folder should have .go file,
Earlier when I started to work, There was internal/tools folder which contains .go files, Now I am not seeing any .go files in main branch.

[2022-03-07 14:28] jpkrohling commented on #45
The sources are generated. Run 'make build' and you should end up with the source code for each one of the distributions. This source code isn't checked in, though.

[2022-03-12 06:05] HaroonSaid opened #157 "Windows MSI"
Is there a windows msi installer release for the collector?

[2022-03-12 15:07] aixasz opened #87 "Can not start service after installed on Azure VM Ubuntu."
**Describe the bug**
This issue occurred only Azure VM Linux (Ubuntu).
After installed service couldn't started.
[code]

**Steps to reproduce**
Use azure VM Linux and install `otelcol` following [this document](https://opentelemetry.io/docs/collector/getting-started/#linux-packaging).

**What did you see instead? **

[code]

**What version did you use? **
Version: 0.44.0

**What config did you use

[2022-03-17 08:52] yangtaoran opened #86 "How to enter collector docker container"
I pull `otel/opentelemetry-collector` image from docker hub, then I  use `docker run -it --rm -d -p 4371:4371 otel/opentelemetry-collector:latest` command to run it with a container.
But I cannot enter to the running cntainer, my commands like this:
`docker exec -it c21e411918ae2acd5b3fffb06b394fcfa90e8f2c96c6ed3d63e5c8a5f1ff0bc6 sh`
`docker exec -it c21e411918ae2acd5b3fffb06b394fcfa90e8f2c96c6ed3

[2022-03-17 11:28] mx-psi opened #84 "Should the main module on this repo be made internal?"
On the v0.47.0 release we had an issue when releasing binaries (see open-telemetry/opentelemetry-collector/issues/5013) that was not caught on CI until after tagging `v0.47.0`. Having a public Go module on this repository makes it hard to untag and re-tag a release without potentially breaking people's builds.

If we don't intend the main module on this repository to be publicly used (or, at least

[2022-03-17 11:31] mx-psi opened #85 "Run all release builds on PRs"
Currently, CI for PRs on this repository does not build all the artifacts. This makes it hard to catch issues before actually tagging a release. To prevent this we can do a gorelease [dry run](https://goreleaser.com/quick-start/?h=dry+r#dry-run) on all PRs.

[2022-03-17 11:32] mx-psi commented on #85
This would need to be modified here https://github.com/open-telemetry/opentelemetry-collector-releases/blob/b619070ca9ab3ad41be7754a5cad722f53104964/.github/workflows/ci-goreleaser.yaml#L43

[2022-03-17 13:28] jpkrohling commented on #85
I think it might be better to have a nightly build, trying the current tip of the main branches from contrib and core. Running go-releaser would still make sense for PRs touching the go-releaser config.

Was the 386 problem caused by a new component, or by a change in an existing component?

[2022-03-17 13:29] jpkrohling commented on #84
It should indeed be internal.

@silverlyra, what do you think?

[2022-03-17 13:44] mx-psi commented on #85
That also sounds like a good idea

It was caused by a bump on the github.com/open-telemetry/opentelemetry-log-collection dependency, which is used by many (all?) log receivers

[2022-03-17 14:19] jpkrohling commented on #85
So, it means that unless we had a change on this repo, we wouldn't have caught this in time. A periodic/daily build would probably have caught this, except if the bug was introduced less than 24h before the release.

[2022-03-17 15:41] Aneurysm9 commented on #84
I think as @jpkrohling mentioned [here](https://github.com/open-telemetry/opentelemetry-collector-releases/pull/83/files#r829097273), this should be handled through configuration and not code changes.  Even if it does require a code change, I'm not sure that mutable tags are ever the correct answer.  We've seen enough problems caused by others doing that, can we please not become part of the probl

[2022-03-17 16:10] jpkrohling commented on #84
I agree in principle, but this specific repo is only used for releases. The only deliverables are the containers and binaries, and as long as they are not published, it's safe to remove and retag.

That said, we should only do it after careful consideration and make a decision as a team. The default answer should indeed be to produce a patch release.

I still think retagging v0.47.0 on this reposi

[2022-03-17 16:19] mx-psi commented on #84
I second @jpkrohling with this. I would never suggest doing this on `opentelemetry-collector` or `opentelemetry-collector-contrib`, but this repo is only used to publish releases.

I think we should avoid doing this as much as possible but, in the event that this is the best option in the future, making the module `internal` will help avoid breakage, and it is also the right thing to do generally

[2022-03-17 16:22] mx-psi commented on #85
My point (and I think @Aneurysm9's probably is too) is that if we run it on PRs we would have caught it before merging https://github.com/open-telemetry/opentelemetry-collector-releases/pull/81, and we would have avoided the tag-then-untag hack. I don't know if running in *all* PRs is the right answer, but at least on release-related PRs it should definitely do a full dry run.

[2022-03-17 17:07] Aneurysm9 commented on #85
Yes, perhaps we don't need to run the full process on every PR, but certainly any PR that changes the builder manifests or goreleaser config.

[2022-03-17 17:13] jpkrohling commented on #85
We have an agreement here. Indeed, we should run the builds when the manifests have changed as well.

[2022-03-18 12:57] jpkrohling commented on #87
This puzzled me for a while, and it looks like we were bitten by https://github.com/goreleaser/goreleaser/pull/2910. I'll open a PR shortly changing the location of the binaries. In the meantime, users are advised to copy the unit file into a user-space location, like `/etc/systemd/system` and adjust the ExecStart entry to the appropriate path.

[2022-03-18 13:05] rubenruizdegauna commented on #87
Thanks @jpkrohling !

[2022-03-20 22:11] chalin opened #89 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-21 08:57] #87 closed

[2022-03-21 11:30] bogdandrutu commented on #89
done.

[2022-03-21 11:30] #89 closed

[2022-03-22 09:33] mx-psi commented on #86
On Kubernetes one can use the beta command [`kubectl debug`](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container) to debug containers without a shell, but maybe we want to have non-scratch containers for people who use containers without Kubernetes.

[2022-03-22 13:01] dharmaplay opened #93 "Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "googlecloudpubsub""
**Describe the bug**
When I am using the GCP pubsub as exporter, I am getting

[code]

**Steps to reproduce**
exporters:
  googlecloud/test:
    project: <projectname>
    topic: projects/<projectname>/topics/<topicname>
    compression: gzip
    watermark:
      behavior: earliest
      allowed_drift: 1h

[2022-03-22 13:19] jpkrohling commented on #86
Either that, or have debug images. We have such for Jaeger, with delve also available, so that people can attach debuggers to the container.

[2022-03-23 08:34] dharmaplay commented on #93
@jpkrohling , seems the issue is in exporters but you have mentioned that related libs are missing in receivers. Could you please confirm whether the googlecloudpubsub exporter is present in otel/opentelemetry-collector-contrib:latest docker image?

[2022-03-23 11:17] alexvanboxel commented on #93
Stage 3 needs to be done (adding it to the components), we're doing extensive testing with the 0.47.0 before doing the final PR.

[2022-03-23 12:57] jpkrohling commented on #93
@dharmaplay, you can check the list of exporters, part of the same file:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/fe8f76161c06c42d62024cd3b512bfe14d3a7fd1/distributions/otelcol-contrib/manifest.yaml#L51-L53

[2022-03-23 19:39] #85 closed

[2022-03-24 19:38] neeej opened #95 "Systemd config for otelcol-contrib points to wrong path for v0.47.0"
### Description
Systemd config for latest release v0.47.0 points to the incorrect path of the binary for otelcol-contrib in the rpm release:
 [otelcol-contrib_0.47.0_linux_amd64.rpm](https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v0.47.0/otelcol-contrib_0.47.0_linux_amd64.rpm).
Due to this otelcol-contrib service can't be started without first modifying the pa

[2022-03-24 19:51] jpkrohling commented on #95
This should have been fixed by https://github.com/open-telemetry/opentelemetry-collector-releases/pull/88 and will be available at v0.48.0. Please reopen if it's not fixed by then.

[2022-04-05 13:11] mx-psi opened #97 "Remove Darwin 32-bit release"
As reported by @hickeyma:

_Originally posted by @hickeyma in https://github.com/open-telemetry/opentelemetry-collector/pull/5142#discussion_r842710656_

[2022-04-05 20:34] #97 closed

[2022-04-13 18:31] dmitryax opened #99 "Prepare otelcol-releases v0.49.0"

[2022-04-13 18:32] dmitryax opened #100 "Release binaries and container images v0.49.0"

[2022-04-14 11:57] #99 closed

[2022-04-20 17:47] tillig opened #104 "`opentelemetry-collector-contrib` missing `transformprocessor`"
The [transformprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.48.0/processor/transformprocessor/README.md) appears to be missing from the contrib Docker image. [Looking in the manifest](https://github.com/open-telemetry/opentelemetry-collector-releases/blob/4f5e766c2836cf8bb4185ca5147b06cc6e76cda6/distributions/otelcol-contrib/manifest.yaml#L77) I think it's ju

[2022-04-20 20:25] #100 closed

[2022-04-22 19:32] jpkrohling commented on #104
cc @punya

[2022-04-25 15:16] tigrannajaryan opened #282 "Introduce released package signatures"
We produce Linux, Windows and Mac OS X executables/packages. These packages are not signed which makes it difficult to verify the authenticity of the packages. Code signing is also an [essential part](https://github.com/open-telemetry/opamp-spec/blob/main/specification.md#code-signing) of secure operation of OpAMP.

Ideally we need to sign the code that we release (both in this repo and in contrib

[2022-04-27 09:39] blumamir opened #105 "distribution for arm7"
Hi, I want to use the collector on Raspberry PI with docker, and was not able to find a relevant image in dockerhub to use.
Looking at some old issues and PRs it seems to be removed intentionally.
Was wondering if there are plans to support it any time soon

[2022-04-27 09:47] pavolloffay commented on #24
Not needed anymore

[2022-04-27 09:47] #24 closed

[2022-04-27 09:49] pavolloffay commented on #86
I would vote to have a small image with a shell.

[2022-04-27 12:46] jpkrohling commented on #105
I think we had it at some time but had to remove it due to build issues with a component. Would you be able to try to build the collector for arm7 and report back? If it works and is part of the continuous testing for the core and contrib repos, we could certainly add an official build for it.

[2022-04-27 14:18] blumamir commented on #105
Thanks for the reply
Unfortunately, I have no background in GO and have too much on my plate right now to familiarize myself with the build scripts of the collector.
I will keep this issue here, and maybe someone will pick it up 🤷‍♂️

[2022-04-27 20:34] nslaughter opened #108 "collector does not include nginx receiver"
**Describe the bug**

The collector does not include the nginx receiver, which you'll notice if you configure `nginx` among receivers.

**Steps to reproduce**

Add an entry for `nginx:` to receivers in the collector's config `.yaml`

**What did you expect to see?**

Successful run of the collector returning metrics for nginx when configuration is right for the environment or reporting on other asp

[2022-04-28 02:47] laiyunong opened #106 "Failed at step EXEC spawning /usr/local/bin/otelcol-contrib: No such file or directory"
RPM packaging for Linux amd64
otelcol-contrib_0.47.0_linux_amd64.rpm cannot start

[2022-04-28 02:51] laiyunong opened #107 "Error: cannot build exporters: pipeline "traces" of data type "traces" has an exporter clickhouse, which does not support that type"
exporters:
  logging:
    logLevel: debug
  clickhouse:
    dsn: tcp://10.10.110.97:9000

service:
  pipelines:
    traces:
      receivers: [otlp, opencensus, jaeger, zipkin]
      processors: [batch]
      exporters: [logging,clickhouse]

[2022-04-28 02:55] laiyunong commented on #107
v0.49.0

[2022-04-28 06:52] SaschaBrechmannVHV commented on #106
Hi @laiyunong ,
the path to the binary has changed. it is now /usr/bin/otelcol-contrib .
Regards, Sascha

[2022-04-28 11:50] jpkrohling commented on #106
There was a bug in an earlier version, fixed later on. Let me know if you still experience this with the latest version.

[2022-04-28 11:50] #106 closed

[2022-04-28 11:51] jpkrohling commented on #107
Looks like this exporter supports only logs:

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/clickhouseexporter

[2022-04-28 11:51] #107 closed

[2022-04-28 13:28] jpkrohling commented on #108
Looks like it's missing from the manifest: https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml

[2022-04-28 17:34] nslaughter commented on #108
@jpkrohling I understand that this issue means the manifest needs to be updated, but could you explain why the issue should be on the opentelemetry-collector-releases repo? Thank you.

[2022-04-28 17:39] jpkrohling commented on #108
The manifest resides here, in the -releases repository.

[2022-04-28 17:44] TylerHelmuth commented on #108
I think the issue is bigger than the manifest.  As @nslaughter mentioned, the factory isn't setup in [components.go](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/components/components.go).  Without the factory I don't think the component can get made.

[2022-04-28 18:10] jpkrohling commented on #108
The components.go isn't used in the distribution. A new one is generated by the builder:

https://github.com/open-telemetry/opentelemetry-collector/blob/b34df3a7e7e9ea6dba20608c2f1f53bedc2a3d22/cmd/builder/internal/builder/main.go#L67

[2022-04-28 19:50] nslaughter commented on #108
Thank you for explaining. I was missing that.

Should I plan to open another PR here in releases after the one in contrib can be merged?

[2022-05-02 09:19] mx-psi commented on #105
This is blocked by open-telemetry/opentelemetry-collector-contrib#8544, it should be easy to fix if you want to try, even if you don't know Go! For comparison this is what it took on the core distro: open-telemetry/opentelemetry-collector#5142

[2022-05-02 14:33] djaglowski commented on #108
Thanks @nslaughter.

@jpkrohling, is there a heuristic for which components should be added to contrib's components.go?

Based on the guidelines established in [contrib#9412](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9412), perhaps we should eventually expect that contrib's `components.go` and the corresponding manifest in this repo should both contains all components

[2022-05-02 14:43] TylerHelmuth commented on #108
I agree, if it's not "in development" anymore it should be included in distributions and contrib's local execution.

[2022-05-02 21:27] codeboten opened #110 "Add riak receiver"
This receiver is not currently enabled in the contrib distro.

[2022-05-04 17:26] #108 closed

[2022-05-10 18:09] djaglowski opened #114 "Add couchdb receiver"

[2022-05-10 18:09] djaglowski opened #115 "Add elasticsearch receiver"

[2022-05-10 18:09] djaglowski opened #116 "Add mongodb receiver"

[2022-05-10 18:09] djaglowski opened #117 "Add rabbitmq receiver"

[2022-05-10 18:16] codeboten opened #119 "Remove newrelicexporter"
Follow up to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9894

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/c91fef72b696ed4d4a666929cb72c4fba05f6fff/distributions/otelcol-contrib/manifest.yaml#L63

[2022-05-10 21:32] #114 closed

[2022-05-10 21:32] #115 closed

[2022-05-10 21:32] #116 closed

[2022-05-10 21:32] #117 closed

[2022-05-12 16:35] #110 closed

[2022-05-12 17:13] bogdandrutu commented on #119
Fixed by https://github.com/open-telemetry/opentelemetry-collector-releases/pull/120

[2022-05-12 17:13] #119 closed

[2022-05-13 17:27] codeboten opened #121 "Add definition for distributions"
Currently the list of distributions only link to the contents of the directories. It would be useful to describe the intent of each distribution.

[2022-05-18 10:33] svrnm opened #136 "Install collector script"
Via https://github.com/open-telemetry/opentelemetry.io/pull/1333, based on @chalin's suggestion to have this hosted here:

While [updating the collector getting started](https://github.com/open-telemetry/opentelemetry.io/pull/1332), I played around with the different ways of getting a collector up and running. Pulling and running it through a docker container is definitely the most convenient way

[2022-05-20 16:23] chriskuchin opened #138 "APK Isn't Working"
Versions 0.48 and 0.49 install great however the 2 newest versions when I try and build using them fails with the following error

```#24 31.52 Error while loading �׌//var/cache/misc/otelcol-contrib-0.51.0.post-install: No such file or directory```

[code]

Doubly interesting building on my M1 Mac locally it seems to work however building in my Gitlab Ci/CD pipeline on x86 ec2 instances it fails

[2022-05-25 00:15] TylerHelmuth commented on #104
The transform processor will be added to the 0.52.0 distribution. See #137.

[2022-06-01 20:32] hex1848 commented on #93
It looks like the receiver is also missing and noted above, but wanted to report that I get a similar error just in case it's not on the roadmap.

`2022/06/01 20:20:56 collector server run finished with error: failed to get config: cannot unmarshal the configuration: unknown receivers type "googlecloudpubsub" for "googlecloudpubsub"`

@alexvanboxel Do we have an ETA when these will get added to th

[2022-06-02 02:49] hex1848 commented on #93
I answered my own question.  It looks like the receiver and exporter will be added at the same time.  The PR is currently closed due to inactivity though:  https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8853/.  @alexvanboxel is the last step just adding it to the manifest?  I would be happy to help move it along if you are pressed for time.

[2022-06-02 07:06] alexvanboxel commented on #93
Help would be appreciated if you make a PR that gets a green build I'm happy to review. We have our own build on the collector, but I would be very glad if it gets activated by default.

[2022-06-02 23:33] mhellsten-ml commented on #73
This is still an issue. Having the "latest" tag point the latest stable release is Docker community standard, so I don't think this is just a matter of preference or style. People who don't want to pull the latest when they relaunch would/should use a version-specific tag. Thanks.

[2022-06-03 02:44] hex1848 commented on #93
I pushed out a [PR ](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10580) tonight that builds locally. I do have a question/concern about a stanza package upgrade I had locally, but wanted to see how it gets through the Actions pipeline with out it checked in.  I will follow up once it's approved to see how it goes.  @alexvanboxel

[2022-06-03 07:36] mx-psi commented on #105
#144 will revert the PR that removed this

[2022-06-03 07:52] blumamir commented on #105
Thanks for the update. This PR seems to be adding 386, will it also support raspberry pi that is running arm v7?

[2022-06-03 08:16] mx-psi commented on #105
Oh, of course, I got confused by the "Looking at some old issues and PRs it seems to be removed intentionally." 🤦 This will add back support for x86 32 bits, sorry to get your hopes up.

Support for armv7 has not been available since #43 because at some point contrib was not buildable on that architecture. We currently build on armv7 on the contrib repo (see [here](https://github.com/open-telemetr

[2022-06-04 06:05] blumamir commented on #105
Created PR in #146 . Thanks for all the help and guidness

[2022-06-08 16:46] codeboten commented on #104
0.52.0 was released and included the transform processor. Closing this issue

[2022-06-10 12:32] prashant-shahi opened #150 "v0.45.1 release tag and assets missing"
We can see `v0.45.1` release in https://github.com/open-telemetry/opentelemetry-collector-contrib repository:

https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.45.1

[2022-06-17 16:18] codeboten commented on #150
@prashant-shahi the decision was made not to create a binary release of that version, it was a patch release to address an issue in a go.mod file, see https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7959#issuecomment-1044669348 for more details.

Is there something specific in v0.45.1 that isn't part of either v0.45.0 or v0.46.0 that you have a need for?

[2022-06-17 17:10] prashant-shahi commented on #150
@codeboten nothing in specific. Just that found weird for one patch release to not have any binary release.
But yeah, I suppose upgrading to v0.46.0 should not be any problem.

Thanks for responding :)

[2022-06-17 17:10] #150 closed

[2022-06-17 17:15] codeboten commented on #150
Thanks for following up!

[2022-07-04 17:38] jpkrohling commented on #157
Done

[2022-07-04 20:31] jpkrohling commented on #136
Call me old-fashioned, but I shiver every time I see bash with curl. I personally prefer to get the RPM which would keep my binary up to date (like for kubectl or minikube). When that's not available, a simple RPM is what I prefer. After that, I get the binary and manage it via "alternatives".

But I do understand that some people prefer bash with curl, so, I wouldn't be against it if we have enou

[2022-07-04 20:38] jpkrohling commented on #138
I can't look into details right now, but this is the relevant code (goreleaser config):

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/1af799780977b1ef24d628ed3665a64d704f6263/.goreleaser.yaml#L85-L105

Given that the RPM and DEB are working (or are they?), could you check goreleaser's documentation to see if we are missing anything? It would also be helpful to unpack the

[2022-07-04 20:39] jpkrohling commented on #93
What's the state of this issue?

[2022-07-05 05:52] alexvanboxel commented on #93
This is merged in v0.53 : https://github.com/open-telemetry/opentelemetry-collector-releases/commit/88c10394cfed558e8ee878286354e9182aede3d5

This issue can be closed

[2022-07-05 10:30] svrnm commented on #136
I agree that from a security perspective this requires a lot of trust by the end user in that URL being benign. Although the goal of this script is serving people that get started with OpenTelemetry and just want to get the touch&feel of the collector quickly. In a production environment it's definitely not the right tool.

[2022-07-05 16:46] chriskuchin commented on #138
@jpkrohling So interestingly the latest release v0.53.0 worked again so not sure if something changed or what. But I was able to just skip the version v0.50.0 - v0.52.0 Not sure if 52 was actually problematic or not but ti works in latest versions so not worried as long as it doesn't reoccur

[2022-07-06 13:42] adilhusain-s opened #158 "adding support for power arch ppc64le"
I have successfully built and tested the opentelemetry-collector and opentelemetry-collector-contrib on power vm.  I've also started working on opentelemetry-collector-release to add power support in CICD. I've made the changes in opentelemetry-collector-releases and generated the binaries and docker images for power.
here is the draft PR for the same.
[draft PR link] (https://github.com/open-tele

[2022-07-06 14:43] jpkrohling commented on #158
Before we add this here, both the collector core and contrib should include this architecture in the CI. Otherwise, things will eventually break here and we'll catch only during the release procedure.

[2022-07-06 14:47] adilhusain-s commented on #158
thanks for the response,

that makes sense. I'll start working on collector-core and collector-contrib.

[2022-07-07 06:55] adilhusain-s commented on #158
@jpkrohling
are we talking about  the only release pipeline or build and test as well?
I've just checked the repo of collector-core and I can't find any build-test pipeline for arm64.

[2022-07-07 11:46] jpkrohling commented on #158
There's a "cross-build-and-test" target that you can use: https://github.com/open-telemetry/opentelemetry-collector/runs/7219627797?check_suite_focus=true

[2022-07-12 20:35] chriskuchin commented on #138
Turns out it was some sort of bug in buildkit emulation. Installing qemu solved the issue for me

[2022-07-13 13:43] delanym commented on #73
Delete it, let the 2 people (or was it 3?) who still rely on this old tag for their mission critical telemetry systems (is there such a thing?) quickly fix the issue, and we can all get on with our lives.
Having an invalid tag hanging around confusing everyone is worse.

[2022-07-13 14:24] mhellsten-ml commented on #73
This isn't for production so much as development: People who throw up a local stack of supporting services typically expect to get the latest stable release on the latest tag. When the behavior of the container that comes up doesn't match the documentation it's very confusing. 2 or 3 people commenting on this issue doesn't mean it's the entire  universe of people this affects.

[2022-07-20 16:32] #158 closed

[2022-07-20 18:41] dmitryax opened #168 "Prepare otelcol-releases v0.56.0"

[2022-07-20 18:42] dmitryax opened #166 "Release binaries and images for v0.56.0"

[2022-07-21 09:56] yuriolisa commented on #166
@dmitryax, are the packages available? I think not yet, correct?

[code]

[2022-07-21 15:08] amoscatelli commented on #166
non-contrib images are missing too

https://hub.docker.com/r/otel/opentelemetry-collector/tags

[2022-07-21 15:14] codeboten commented on #166
@yuriolisa @amoscatelli those images will be available once this issue is closed.

[2022-07-21 16:56] dmitryax commented on #166
Hey folks. Sorry for the delay. Binaries building is in progress https://github.com/open-telemetry/opentelemetry-collector-releases/runs/7453336092?check_suite_focus=true

[2022-07-21 18:23] amoscatelli commented on #166
@dmitryax it seams something went wrong ...

#5 [certs 2/2] RUN apk --update add ca-certificates
#5 0.839 standard_init_linux.go:228: exec user process caused: exec format error
#5 ERROR: executor failed running [/bin/sh -c apk --update add ca-certificates]: exit code: 1

[2022-07-21 21:21] dmitryax commented on #166
I'm looking into that

[2022-07-21 21:31] dmitryax opened #170 "Releaser is failing to build for linux/pp64le platform"
https://github.com/open-telemetry/opentelemetry-collector-releases/runs/7454926173

[2022-07-21 21:45] dmitryax commented on #170
It's unclear why do we need to support this architecture with all the overhead. Is this something that is being used on modern systems? @adilhusain-s, can you please provide more reasoning

[2022-07-22 04:40] dmitryax commented on #166
packages and images for 0.56.0 are released

[2022-07-22 04:40] #166 closed

[2022-07-22 08:52] mx-psi commented on #84
I tried doing this on #172. There is no public API, because if a package has a `main` function, it can't be imported. Therefore this is not a problem for moving tags in special situations.

[2022-07-22 11:37] adilhusain-s commented on #170
@dmitryax
Thanks for creatingg this issue,
The power architecture is very much alive.
you may checkout these blog posts:
- [Introduction to linux on power](https://developer.ibm.com/articles/intro-to-lop/)
- [IBM Power Systems Announces POWER10 Processor](https://www.ibm.com/blogs/systems/ibm-power-systems-announces-power10-processor/)

The release workflow failed because the ppc64le arch wasn't a

[2022-07-22 13:45] gerrith3 commented on #170
Hey @dmitryax you are asking if IBM Power is used on modern systems?  Many of the top 50 super computers are still Linux on Power, it is used to run many operations at major banks across the world, it is used on Wall Street and other heavy financial trading environments, it is used for managing retail operations as some of the worlds biggest retailers, the list goes on and on.  This particular eff

[2022-07-26 14:59] dyladan commented on #73
This is causing active confusion with users. Either fix the tag or remove it but leaving it broken is misleading and the worst of both worlds. `latest` tag is a docker community idiom that many (most?) users not only expect to work but are frustrated when it doesn't. I very often use the `latest` tag of docker images as a branch in integration tests so that we can catch issues without having to ma

[2022-07-27 17:07] bogdandrutu commented on #73
Updated the latest tag to 0.56.0, using manifest and image group as the base tag.

[2022-07-29 17:01] assafrahav opened #175 "etc/os-release is not copied to final image"
GCP [container analysis services](https://cloud.google.com/container-analysis/docs/container-scanning-overview#linux-versions) which perform vulnerability scans of images used in conjunction with GKE uses `etc/os-release` to determine the OS of the image.

otel collector does use Alpine 3.11 which is a supported base image, but the specific file isn't copied into the final image so the service is

[2022-07-29 17:14] sherzberg-1 commented on #175
I'll also note that I believe this is a common practice with vulnerability scanners - trivy is also unable to scan this container, with the error message `2022-07-29T17:05:44.773Z        WARN    This OS is not supported and vulnerabilities in OS packages are not detected.`

[2022-08-01 20:12] iblancasa commented on #175
I can work on it :)

[2022-08-02 06:38] giuliohome commented on #73
**This is causing a terrible confusion!!!**

[2022-08-02 13:46] jpkrohling commented on #175
It's yours, @iblancasa

[2022-08-02 14:02] piotrgwiazda opened #178 "Images don't pass the vulnerability scan"
Due to the fact that images are not based on any distro - with `FROM scratch` they will not pass vulnerability scan, as there is no distro for searching in vulnerability database (base image unknown).

Please provide images based on e.g. alpine if possible.

[2022-08-02 14:04] jpkrohling commented on #178
Tracked as part of #175. If this is not the same issue, please provide more details on what needs to be changed to pass the scans.

[2022-08-02 14:04] #178 closed

[2022-08-02 14:13] piotrgwiazda commented on #178
When using the Sysdig scanner the scan fails with the "vulnerability_data_unavailable" error.
Message: "Feed data unavailable, cannot perform CVE scan for distro: Unknown:0"

I guess the "distro: Unknown: 0" part is the problem.

[2022-08-02 16:43] jpkrohling commented on #178
That still doesn't tell us what we should do to address this.

[2022-08-02 16:50] piotrgwiazda commented on #178
How about building alternative image with *-alpine tag that is built on top of alpine distro rather than "FROM scratch"? So one can pick either a slim, distroless image or alpine-based image.

[2022-09-14 07:04] santoshkashyap opened #192 "Support for oTel agent in shared library format (.so file) ?"
Hi,
When running the `otelcol` with Java Spring boot application on CloudFoundry (via build pack) I get a following error:

![image](https://user-images.githubusercontent.com/16810482/190080784-4af03b6b-382e-4d02-a9c9-91ef7ad86db0.png)

The agent is passed via environment variable: JBP_CONFIG_JAVA_OPTS: 'java_opts: "-agentpath:$PWD/collector/otelcol"'

The oTel binary agent I used : x86_86(or amd6

[2022-09-14 12:45] jpkrohling commented on #192
That's new to me, and I'm intrigued. I thought JVM agents were only for Java applications. This probably shows my ignorance on the subject, but shouldn't you be using the Java auto-instrumentation agent?

https://github.com/open-telemetry/opentelemetry-java-instrumentation

[2022-09-14 14:14] santoshkashyap commented on #192
I check it already. It works fine. With this I had to use a slightly different option:
`JBP_CONFIG_JAVA_OPTS: 'java_opts: "-javaagent:BOOT-INF/lib/opentelemetry-javaagent-1.17.0.jar"'`

Loosely it translates to following start command(Omitted few options for simplicity):

` META-INF/.java_buildpack/jvm/bin/java  -javaagent:BOOT-INF/lib/opentelemetry-javaagent-1.17.0.jar -Djava.io.tmpdir=/home/vcap

[2022-09-19 17:18] svrnm commented on #136
Doesn't look like there's a lot of interest, closing.

[2022-09-19 17:18] #136 closed

[2022-09-19 17:22] svrnm opened #196 "Automatic PR for docs to bump collector version"
the collector getting started at opentelemetry.io has a variable `collectorVersion` that controls the version used through out the document:

https://github.com/open-telemetry/opentelemetry.io/blob/main/content/en/docs/collector/getting-started.md

We are currently bumping that version manually from time to time and missed some of the collector releases!

Since we had a similar discussion with the

[2022-09-21 21:57] AlexPSplunk opened #199 "Collector startup fails with no useful error if invalid pipeline type is specified"
I created a pipeline of type "metric", purposely omitting the "s" from the end of the line.  The collector failed to start, as expected.  However, there is no useful error message in the journal -- it just says "exit code".  See attached screenshot.
(Note: these are the same messages that appear in the system journal.  There is nothing more there)

Would be preferable to provide a useful error mes

[2022-09-26 18:16] jpkrohling commented on #196
While we could do that, I think it would scale better to have a script that runs periodically on your side and checks for new releases, bumping the files that need to be changed. I have something similar here:

https://github.com/grafana/opentelemetry-collector-components/blob/main/.github/workflows/auto-update.yaml

[2022-09-27 03:30] trask commented on #196
oh, I like this idea, may try it out in the Java repos, would avoid needing the bot to have its own fork in order to open PRs

[2022-09-27 06:52] svrnm commented on #196
Then let's do it the otherway round and have the opentelemetry.io repo take new updates periodically (same for java and other projects that need a regular update), cc: @cartermp , @chalin

[2022-09-28 10:15] sweetxiaodai opened #201 "Instana exporter get invalid response when enable https"
I attached the error message for the Instana exporter.

![502A3B06-2012-434C-9153-933A2D6E2953](https://user-images.githubusercontent.com/90817719/192753892-db89b1a4-af21-46c9-8073-cdf4872999a6.png)

can the latest version fix this issue?

[2022-09-29 02:06] mattmoor opened #203 "Start to sign image releases with cosign"
### Is your feature request related to a problem? Please describe.

I'd like to be able to verify that the images we are consuming from `otel/opentelemetry-collector-contrib` on DockerHub were produced by this repo's release automation.

### Describe the solution you'd like

I'd like to see the workflow used to publish your images use `sigstore/cosign` keyless signing to sign the published images,

[2022-09-29 05:26] Sunilwali679 commented on #201
@sweetxiaodai  I am interested work on this issue . Could you please assign this to me ?

[2022-09-29 08:00] sweetxiaodai commented on #201
How to assign it to you? @Sunilwali679

[2022-09-29 08:01] sweetxiaodai commented on #201
Usually in GitHub, people can take it by themselves

[2022-09-29 08:32] cpanato commented on #203
I can help in the implementation

[2022-09-29 12:08] jpkrohling commented on #203
That would be great, I had this on my radar anyway. We use goreleaser in this project, I believe there's an integration with cosign already.

[2022-09-29 12:09] jpkrohling commented on #203
I'm assigning this to @mattmoor. If you need help, ping @cpanato :-)

[2022-09-29 18:21] mattmoor commented on #203
@cpanato has forgotten more about `goreleaser` than I will ever know.  Carlos, if you want to take this on that'd be fantastic 🙏

[2022-09-30 14:59] cpanato commented on #203
PR: https://github.com/open-telemetry/opentelemetry-collector-releases/pull/207

also did others to updates some other things:

- https://github.com/open-telemetry/opentelemetry-collector-releases/pull/205
for this one, if you are interested to use a distroless base image we can switch that

- https://github.com/open-telemetry/opentelemetry-collector-releases/pull/206

[2022-10-02 15:42] sweetxiaodai opened #208 "How to build a custom image of opentelemetry-collector-release?"
I try to use the provided `Dockerfile` to build a image of opentelemetry-collector-contrib. The purpose is using some 3rd party receiver and exporter.
May I ask some help about building a custom docker image?

The `Dockerfile` provided by the repository cannot run properly if I use it to build the image directly.
[code]

[2022-10-02 15:42] sweetxiaodai commented on #208
/help wanted

[2022-10-02 15:49] TylerHelmuth commented on #208
@sweetxiaodai check out https://opentelemetry.io/docs/collector/custom-collector/.

[2022-10-03 14:08] sweetxiaodai commented on #208
closed.

[2022-10-03 14:08] #208 closed

[2022-10-03 20:32] jpkrohling commented on #203
I commented in the relevant PR already, but our final images are scratch images already. The alpine base is being used only for build stages.

[2022-10-03 20:38] jpkrohling commented on #199
Using either the project's official OpenTelemetry Collector core distribution or the Contrib distribution instead of Splunk's.

[2022-10-10 10:24] svrnm commented on #196
I gave it a try at @ https://github.com/open-telemetry/opentelemetry.io/pull/1838

[2022-10-10 12:49] TimmyGilissen opened #214 "running as a windows services"
I'm using nssm to install the otel collector as a windows service.

But every-time the service wants to start it goes in pauze mode.

What i'm i missing to install the collector as a windows service?

Using collector version 0.60.0.

thx
Timmy

[2022-10-10 16:25] jpkrohling commented on #196
I'm closing this in favor of doing it on the consumer side of things (opentelemetry.io). If you prefer to keep this open, let me know and I'll reopen.

[2022-10-10 16:25] #196 closed

[2022-10-11 14:04] schmikei opened #215 "Add NSX-T Receiver to contrib"
Noticed here people would like to use this alpha component in the docker image https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14788

[2022-10-11 17:07] #215 closed

[2022-10-12 09:00] sherifkayad opened #217 "`servicegraph` Processor not included"
It seems like the Service Graph Processor (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/servicegraphprocessor) isn't included in the `contrib` distro. Is that by mistake? Was that intentional?

I think it should be included as it's officially released in the contrib source code since `v0.60.0` (https://github.com/open-telemetry/opentelemetry-collector-contr

[2022-10-12 13:28] TylerHelmuth commented on #217
Sometimes components that are still in "In Development" status aren't included in the distribution yet. It's normally up to the component code owners if they want it included yet or not.

[2022-10-12 13:36] sherifkayad commented on #217
@TylerHelmuth thanks for the feedback. I submitted another issue in the `opentelemtry-collector-contrib` project to ask the same. Hopefully the code owners can give an answer on at least when it would be included.

[2022-10-13 22:02] #73 closed

[2022-10-27 05:53] elitistphoenix commented on #214
I'd be interested to know how it installs the service? Maybe a windows registry screenshot? I can't get the service to start from a new-service command in powershell

[2022-10-27 06:28] elitistphoenix opened #228 "Run as Windows Service"
When running as a windows service installed by new-service (PS) or sc.exe I get

Error from windows event logs
The OpenTelemetry service terminated with the following error:
An exception occurred in the service when handling the control request.

I know this was added
https://github.com/open-telemetry/opentelemetry-collector/issues/1119

What is the correct way to add + run + run with config file

[2022-10-28 09:41] tomas-mota commented on #228
I am having the same issue. Have been running and upgrading otel as service many times, but upgrading from 0.61.0 to 0.63.0 results in failing at startup, complaining that at least one config file must be provided. My command for setting up the service, which has always worked before, is the following:

sc.exe create otelcol displayname= otelcol start= delayed-auto binPath= "C:\bin\otelcol\otelcol

[2022-10-28 15:00] TylerHelmuth commented on #228
/cc @open-telemetry/collector-approvers @open-telemetry/collector-maintainers

[2022-10-28 15:14] mx-psi commented on #228
Could you try 0.62.1 and see if the issue also happens there?

[2022-10-28 15:24] tomas-mota commented on #228
Sure, I'll try that tomorrow.

[2022-10-28 15:45] mx-psi commented on #228
If someone wants to give it a try, I built a binary reverting a PR that seemed suspicious based on the info we have so far, you can download it from here: https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3346624945

[2022-10-28 15:55] codeboten commented on #228
I just tested the core collector from that revert and was able to see the service start

[2022-10-28 16:42] codeboten commented on #214
@elitistphoenix if you're running into issues w/ v0.63.0, it's possibly related to https://github.com/open-telemetry/opentelemetry-collector/issues/6433

[2022-10-31 18:45] #121 closed

[2022-11-18 21:58] sernst opened #237 "Missing AWS CloudWatch Receiver in Contrib Distribution"
It appears that the [awscloudwatch receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/awscloudwatchreceiver) has not been included in the contrib distribution manifest. There certainly may be a good reason for this, but I was not able to find any documentation explaining its exclusion. Surfacing it here in case the exclusion was an accidental omission.

[2022-11-21 19:21] #237 closed

[2022-11-29 19:53] shawnbutts opened #244 "RPM packages are missing a /bin/sh dependency"
/bin/sh is required for the postinstall.sh and other scripts.

Adding a `Requires:` for all dependencies needed during install is a common standard.

[2022-11-29 20:04] shawnbutts commented on #244
It most likely works in your testing because, the /bin/sh dependency is already in place.  But, in an environment where it is not yet there (kickstart, etc) the install will fail in the PREIN step.

If there requirement is explicitly included, then RPM resolver can order the package installs correctly.

[2022-11-29 20:23] jpkrohling commented on #244
Makes total sense. Are you able to open a PR fixing it? It's very likely here:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/26c3f343e63513b7b34b2765eda5ab336d0146c9/cmd/goreleaser/internal/configure.go#L106-L139

Here's the relevant documentation from goreleaser: https://goreleaser.com/customization/nfpm/

[2022-11-29 20:56] shawnbutts commented on #244
Sorry, I'm not familiar enough with the project or GoReleaser to do a PR at the moment.

[2022-11-30 12:24] jpkrohling commented on #214
I don't think we have any maintainers using Windows, we need your input and engineering help to determine what's the cause and how to fix it.